.toast-container {
	position: absolute;
	width:550px;
    max-width:98%;
	z-index:1000000;
}

.toast-item {
	position: relative;
	height: auto;
	padding:40px 20px;
	background: #333;
	color: #eee;
	font-size: 14px;
	border: 2px solid #555;
	border-radius: 15px;
	margin-bottom:20px;
	box-shadow:2px 2px 7px 5px rgba(0,0,0,0.3);
}

.toast-item p {
    text-align: center;
	line-height: 22px;
    margin-left: 50px;
	cursor:pointer;
}

.toast-item-close {
    position: absolute;
    background:url(close.png);
    width:22px;
    height:22px;
    top:5px;						
    right:5px;
}

.toast-item-image {
    width:48px;
    height:48px;
    position: absolute;
    top:40%;
    margin-top: -16px;
    left: 10px;
}


.toast-item-image-notice {
    background:url(notice.png);
}
.toast-item-image-success {
    background:url(success.png);
}
.toast-item-image-warning {
    background:url(warning.png);
}
.toast-item-image-error {
    background:url(warning.png);
}


.toast-type-notice {
    color: white;
}
.toast-type-success {
    color: white;
}
.toast-type-warning {
    color: white;
    border-color: #FF8800;
}
.toast-type-error {
    color: white;
    border-color: #b3742b;
}


.toast-position-top-left {
    position: fixed;
    left: 20px;
    top: 20px;
}
.toast-position-top-center {
    position: fixed;
    top:10%;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
}
.toast-position-top-right {
    position: fixed;
    top: 20px;
    right: 20px;
}


.toast-position-middle-left {
    position: fixed;
    left: 20px;
    top: 50%;
    margin-top: -40px;
}
.toast-position-middle-center {
    position: fixed;
    top:35%;
    left:0;
    right:0;
    margin-left: auto;
    margin-right: auto;
}
.toast-position-middle-right {
    position: fixed;
    right: 20px;
    margin-left: -140px;
    margin-top: -40px;
    top: 50%;
}