/*** BASICS*/
html						{font-size:15px; font-family:Arial,Helvetica,sans-serif; scrollbar-width:auto;}
html, body, div				{margin:0px; padding:0px;}/*reset*/
html						{background:#222;}
body						{background-position:right top; background-repeat:no-repeat;}
body *						{box-sizing:border-box;}										/*Calcul du width avec prise en compte de la bordure*/
div, span					{vertical-align:top; -webkit-tap-highlight-color:transparent;}	/*tap-highlight-color" : cf. background au "touch" d'un élément sur mobile*/
p							{margin-block:3px;}												/*Cf éditeur tinyMce et "editor.css"*/
img							{border:0px; vertical-align:middle;}							/*alignemment des images*/
hr							{border:0; height:1px; margin-top:10px; margin-bottom:10px;}	/*lignes de séparateur*/
video, audio				{max-width:100%; max-height:100%;}								/*Lecteurs video/audio*/
abbr						{border-bottom: 1px dotted #777; cursor:help;}					/*idem tag <acronym>*/
::-webkit-scrollbar			{width:14px!important;}											/*largeur de scrollbar*/
::-webkit-scrollbar-thumb 	{ border-radius:7px!important;}									/*Arrondi de la scrollbar*/
a, [onclick], label, .sLink, .linkSelect, .option, .optionSelect, .menuContextLaunch	{cursor:pointer; text-decoration:none; user-select:none;}	/*Liens et menus*/
/*AFFICHAGE SMARTPHONE*/
@media screen and (max-width:490px){
	html				{font-size:18px;}
	::-webkit-scrollbar	{width:8px!important;}
}
/*AFFICHAGE PRINT*/
@media print{
	html, body				{background-image:none!important; background-color:white!important; color:black!important;}
	#pageFull, #pageCenter	{margin:0px!important; margin-top:30px!important;}
	#headerBar, #pageMenu, img[src*='img/menu'], .tooltipster-base, #livecounterMain, #pageFooterHtml	{display:none!important;}
}


/*** CONTENEURS PRINCIPAUX */
#headerBarContainer						{display:block; width:100%; position:fixed; z-index:100; top:0px; left:0px;}
#headerBar								{display:table; width:100%; max-width:100%; height:50px; user-select:none;}
#headerBar>div							{display:table-cell; vertical-align:middle;}
#headerBar>div:first-child				{text-align:left;}
#headerBar>div:last-child				{text-align:right;}
#pageFull, #pageCenter					{display:table; max-width:100%;}		/*Conteneur de la page*/
#pageFull								{width:100%;}							/*Conteneur sur toute la largeur (Mod Files, Tasks, etc)*/
#pageCenter								{margin-left:auto; margin-right:auto;}	/*Conteneur centré (Mod Dashboard, Forum, Mail, etc). Tester affichage smarthone et tablet paysage*/
#pageMenu								{display:table-cell; padding-inline:10px 5px; width:350px; min-width:350px; transition:padding-top 0.2s;}/*Menu de gauche du module : menu principal*/
#pageContent							{display:table-cell; padding-inline:5px 10px;}/*contenu principal de la page*/
#pageCenter #pageContent				{width:920px;}/*Contenu centré*/
.miscContent							{padding:10px; border-radius:7px; user-select:none;}
#pageMenu .miscContent					{margin-bottom:10px;}/*espace entre chaque block*/
#bodyLightbox							{padding:25px;}/*contenu des lightbox*/
#headerBar, .objContent, .miscContent, .menuContext, #messengerMain, .tox-tinymce	{box-shadow:2px 2px 10px #444; transition:box-shadow 0.3s ease-in-out;}
/*AFFICHAGE RESPONSIVE*/
@media screen and (max-width:1200px){
	#pageFull, #pageCenter, #pageMenu, #pageContent	{width:100%!important; max-width:100%!important; word-break:break-word!important; margin-inline:auto;}	/*"break-word" => URL du modLink*/
	#pageMenu, #pageContent							{padding-inline:5px;}
	#pageMenu										{display:none;}/*affiché via #menuMobileMain*/
	.objContent, .miscContent						{margin:5px;}
	#pageContent.miscContent						{margin:0px;}/*cf site public*/
	#bodyLightbox									{padding:45px 15px 30px 15px;}/*padding-top : cf. close.png*/
}

/*** MENU CONTEXTUEL & MENU LATERAL DU MODULE (GAUCHE)*/
.menuLine								{display:table; width:100%;}
.menuLine>div							{display:table-cell; padding:5px; vertical-align:middle; text-align:left; max-width:500px;}
.menuIcon								{width:40px; vertical-align:top!important; text-align:center!important;}
.menuIcon img							{max-width:30px!important;}
.menuContextLaunch						{display:inline-block;}/*launcher du menu context*/
.menuContextLaunchFloat					{position:absolute; z-index:50; top:8px; right:4px;}/*launcher burger en position absolute top-right*/
.menuContext							{display:none; position:absolute; z-index:110; text-align:left; cursor:default; padding:7px; overflow-y:auto; border-radius:10px;}/*cursor 'default' pour pas prendre celui des .objBlocks (cf. modFile)*/
#bodyLightbox .menuContext				{overflow-y:visible;}/*Affiche tout le menu dans une petite lightbox : pas de scroll*/
.menuContextLabel						{text-align:center; padding:5px 0px;}/*label principal du menu context (cf. VueObjMenuContext)*/
.menuContext .menuLine>div				{line-height:18px;}
.menuContext .menuLine>div:last-child	{white-space:nowrap;}/*Label d'une option du menu : pas de retour à la ligne (cf. div à droite du .menuIcon)*/
.menuContext hr							{margin:3px 0px!important;}
.menuContextTxtLeft						{width:115px; min-width:115px; border-right:solid 1px rgba(150,150,150,0.2); vertical-align:top!important;}/*Auteu, Date et Droits d'accès (cf. VueObjMenuContext)*/
#mobileAddElem							{display:none;}/*Bouton "Plus" en bas de page*/
/*AFFICHAGE RESPONSIVE*/
@media screen and (max-width:1200px){
	.menuMobileSubMenu					{position:relative; margin-top:20px;}/*Idem*/
	#mobileAddElem						{z-index:100; position:fixed; bottom:12px; right:12px;}/*Bouton "Plus" en bas de page (z-index idem #headerBar)*/
}


/*** MENU CONTEXTUEL MOBILE (SWIPE)*/
#menuMobileBg, #menuMobileMain			{display:none;}/*Masque par défaut*/
#menuMobileBg, #menuMobileMain 			{position:fixed; top:0px; right:0px; height:100%;}
#menuMobileBg							{z-index:120; width:100%; max-width:100%; background:rgba(0,0,0,0.7);}
#menuMobileMain							{z-index:121; width:380px;  max-width:100%; overflow:auto; padding:10px; border:solid 1px #ccc; border-left:solid 1px #333;}/*border-left : cf .menuMobileBg*/
#menuMobileClose						{text-align:right;}
#menuMobileMain .menuLine>div			{padding:10px 5px;}/*surcharge*/
#menuMobileContent2						{margin-top:20px;}
#menuMobileContent2 .miscContent		{padding:5px;}


/*** DIV DES OBJETS */
.objContent											{position:relative; margin-bottom:7px; border-radius:7px; user-select:none;}
.objContent.isSelectable							{cursor:url("../../img/check.png"),default;}								/*Objets selectionnables (cf .objSelectCheckbox)*/
.objContentScroll									{height:inherit; min-height:inherit; overflow-y:auto; overflow-x:hidden;}	/*"height"+"min-height" correspond au ".objContent" & permet l'overflow "scroll" du ".objContentTab" ci-dessous*/
.emptyContent										{padding:30px; text-align:center;}											/*Aucun contenu sur la page*/
.emptyContent div									{margin-top:20px;}															/*Idem*/
.objContentTab										{display:table; height:inherit; min-height:inherit; width:100%;}			/*Contenu de l'objet*/
.objContentTab>div									{display:table-cell; vertical-align:middle;}								/*idem : cellule*/
.objIcon											{text-align:center; vertical-align:middle;}									/*Cellule d'icone d'objet (dossier, fichier, contact, etc)*/
.objIcon img										{max-width:95%!important; max-height:95%!important;}						/*Icone d'objet : folder, objIconOpacity, image d'user, etc*/
.objIconOpacity img									{filter:opacity(0.2);}														/*Icones opaques : links, tasks, etc*/
.objLabel											{padding-left:15px; overflow-wrap:break-word; text-overflow:ellipsis;}		/*Cellule du label de l'objet : "break-word" évite qu'une URL éclate l'affichage*/
/*DIPLAY "BLOCK"*/
.objBlocks .objContent								{height:100px; min-width:250px; max-width:450px; padding-right:35px; margin-right:7px; float:left;}/*"min-width"/"max-width" => mainDisplay()  &&  "padding-right" => menu context*/
.objBlocks .objIcon									{width:80px;}																/*Icone/image de l'objet*/
.objBlocks .objIcon:empty							{width:0px!important;}														/*Cf. Profil Contact/User sans image*/
.objBlocks .objIconOpacity							{width:35px;}																/*réduit la largeur ci-dessus pour les icones opaques link/task*/
.objBlocks .objDetails, .objBlocks .objAutorDate	{display:none;}																/*Details & Auteur/Date : masqués par défaut*/
/*DIPLAY "LINE"*/
.objLines .objContent								{height:55px; margin:0px; box-shadow:none; padding-right:65px;}				/*"padding-right" : cf ".objLines .menuContextUnder"*/
.objLines .objIcon									{width:55px; max-height:80%;}												/*Icone/image de l'objet (fichier, user, etc)*/
.objLines .objIcon img								{max-width:50px!important; max-height:45px!important;}						/*Cf vignettes de fichiers*/
.objLines .objDetails								{text-align:right; max-width:400px;}										/*Details : fichiers, tasks, etc.*/
.objLines .objAutorDate								{text-align:right; width:185px; font-size:0.9rem; line-height:20px;}		/*Auteur/Date : tester avec "lun. 30 septembre 2024"*/
.objLines .objAutorDate span						{display:block;}															/*Auteur et Date sur 2 lignes*/
.objLines .objAutorDate img[src*=arrowRight]		{display:none;}																/*Masque la fleche de séparation entre l'Auteur/Date*/
/*MISC*/
.attachedFileMenu									{display:inline-block;}														/*Fichiers joints */
.attachedFileMenu img								{margin-right:0px;}															/*idem*/
.menuContext .attachedFileMenu						{margin:5px;}																/*Fichiers joints du menu context*/
.attachedFileTag									{max-width:100%;}															/*Image/vidéo/Mp3 inséré dans l'éditeur : idem "editor.css"*/
video.attachedFileTag								{min-width:600px; min-height:400px;}										/*Vidéo*/
audio.attachedFileTag								{min-height:100px;}															/*Mp3*/
.objMenuBottom										{clear:both; margin-top:30px; text-align:center;}							/*Menus centrés : pagination & co ("clear" le float des .objBlocks)*/
.objMenuBottom>.miscContent							{display:inline-block; padding:15px; border-radius:10px;}
/*AFFICHAGE RESPONSIVE*/
@media screen and (max-width:1200px){
	.objIcon										{width:60px!important;}													/*Cellule d'icone d'objet (dossier, fichier, contact, etc)*/
	.objIconOpacity, .objDetails, .objAutorDate		{display:none;}															/*toujours masqué*/
	.attachedFileMenu								{margin:10px;}															/*Fichiers joints à l'objet*/
	video.attachedFileTag							{min-width:350px;}														/*vidéo*/
}


/*** MENUS CONTEXTUELS DES OBJETS*/
.menuContextUnder					{width:35px; position:absolute; z-index:50; top:35px; right:3px; text-align:right;}	/*Like, Comment, etc*/
.menuContextUnder>div				{display:inline-block; margin:4px;}													/*idem*/
.objLines .menuContextUnder			{width:80px; top:30px;}																/*Affichage horizontal*/
.objLines .menuContextUnder>div		{display:inline-block; margin-inline:0px;}											/*idem*/
.objLines .menuContextUnder img		{max-width:16px;}																	/*idem*/
.circleNb							{width:22px; height:22px; line-height:22px; font-size:0.85rem; display:inline-block; background:#07d; border-radius:50%; color:white; text-align:center;}/*Voir aussi menu du Dashboard*/
.menuContextUnder .circleNb			{width:14px; height:14px; line-height:14px; font-size:0.7rem; position:relative; margin-right:-12px;}/*Nb de likes / commentaires*/
.objContent:not(:hover) .menuContextUnder .hide, .objSelectCheckbox, .circleNb:empty	{display:none;}/*Masque les .menuContextUnder (par défaut)  && l'input hidden de sélection/désélection d'objet*/


/*** MENU "PATH" DES OBJETS (DOSSIER, FORUM, DASHBOARD)*/
.pathMenu					{display:table; margin-bottom:15px; padding:5px;}
.pathMenu img				{max-height:30px; margin-inline:5px;}
.pathMenu>div				{display:table-cell; padding:3px; vertical-align:middle;}
.pathMenu>div:first-child	{width:50px; white-space:nowrap;}/*icone de dossier ou "top"*/
.pathMenuAdd				{width:50px; text-align:right;}/*icone d'ajout d'element*/
/*AFFICHAGE RESPONSIVE*/
@media screen and (max-width:1200px){
	.pathMenu	{width:98%; max-width:98%; padding:3px;}
}


/*** INPUTS*/
input:not([type=radio],[type=checkbox]), textarea, select, button	{min-height:33px; max-width:100%; padding:5px; border-radius:4px; font-size:1rem; font-family:inherit; outline:none;}
*:is(input,textarea,button):read-only, *:is(input,textarea,button):disabled		{opacity:0.85;}
::placeholder 											{padding-left:5px; color:#aaa;}/*texte par défaut*/
input:is([type=radio],[type=checkbox])					{vertical-align:middle; margin:0px 3px;}
input[type=checkbox]									{width:18px; height:18px;}
input[type=file]										{height:auto;}
.inputTitleName											{width:75%;}/*Title ou Name d'un objet*/
textarea												{width:100%; height:60px;}
#descriptionToggle										{margin-bottom:20px; display:inline-block; line-height:35px; margin-left:15px;}/*Label pour afficher/masquer la description d'un objet. Height identique aux inputs text*/
#descriptionTextarea									{margin-bottom:20px;}/*Textarea masqué par défaut ?*/
.tox-tinymce											{border-radius:10px!important;}/*Editeur TinyMCE : idem textarea*/
.tox-promotion											{display:none;}/*Editeur TinyMCE : masque le bouton "Upgrade"*/
select option											{font-size:1.05rem;}
button													{padding:5px 8px; border-radius:8px; cursor:pointer; vertical-align:middle;}
.dateInput, .dateBegin, .dateEnd						{width:90px;}													/*DATEPICKER INPUTS*/
.ui-datepicker											{width:300px; max-width:98%; box-shadow:0px 2px 6px #888;}	   /*DATEPICKER JQUERY ("box-shadow" idem .miscContent)*/
.ui-datepicker-header									{background-color:transparent; border:none;}					/*label du mois*/
.ui-datepicker .ui-state-default						{padding:10px; text-align:center; border:0px;}					/*cellules des jours*/
.ui-datepicker .ui-state-highlight						{background:#cde; color:black;}						  	  /*aujourd'hui*/
.ui-datepicker .ui-state-active							{background:#007fff; color:white;}		 				  /*jour sélectionné*/
.ui-timepicker-wrapper									{max-height:450px;}												/*pseudo <select>*/
.ui-timepicker-list li 									{padding:7px 15px;}													/*liste des heures*/
input[type=time]										{width:80px;}													/*TIMEPICKER INPUTS*/
input[type=time]::-webkit-calendar-picker-indicator		{margin:0px; filter: invert(48%) sepia(20%) saturate(2000%) hue-rotate(150deg) brightness(95%) contrast(80%);}/*icone "horloge"*/
.passwordDiv											{display:inline-block; position:relative}
.passwordDisplay										{content:url("../../img/displayShow.png"); position:absolute; top:25%; margin-left:-30px; opacity:0.4; cursor:pointer;}/*Affiche/Masque un password*/
.passwordDisplayHide									{content:url("../../img/displayHide.png");}
fieldset												{margin-top:25px; padding:10px;}
legend													{padding:5px 20px;}
.focusPulsate											{animation:focusPulsate 1.5s linear infinite;}
@keyframes focusPulsate 								{  0% {box-shadow:0px 0px 6px #0064c8;}  50% {box-shadow:0px 0px 6px #80bfff;}  100% {box-shadow:0px 0px 6px #0064c8;}  }
.submitButtonMain										{margin-block:40px 20px; text-align:center;}				/*div du bouton submit principal*/
.submitButtonMain button								{height:50px; min-width:250px; font-weight:bold;}			/*idem*/
.submitButtonMain .submitLoading						{max-width:40px; margin-right:-40px;}						/*icone "loading"*/
.submitButtonInline										{display:inline-block;}										/*div du button submit inline*/
.submitButtonInline	button								{min-width:100px;}											/*idem*/
.submitButtonInline .submitLoading						{max-width:25px; margin-right:-25px;}						/*icone "loading"*/
.submitLoading											{visibility:hidden;}										/*icone affiché à la validation du form*/
.connectForm *:is(input[type=text],input[type=password],button)	{display:inline-block; margin-block:8px; width:330px; height:45px; border-radius:8px;}
.connectForm .submitButtonMain							{margin-top:0px;}/*surcharge*/
/*AFFICHAGE SMARTPHONE*/
@media screen and (max-width:490px){
	.inputTitleName										{width:100%;}/*description en dessous*/
	#descriptionToggle									{display:block; margin:0px; margin-top:20px; margin-bottom:10px!important;}
	.dateInput, .dateBegin, .dateEnd					{height:36px; width:110px;}
	input[type=checkbox]								{width:20px; height:20px;}
	input[type=time]									{height:36px; width:90px;}
}


/*** LABEL <=> INPUT (edit d'objet, parametrage general, etc)*/
.objField												{display:table; width:100%;}
.objField>div											{display:table-cell; width:50%; vertical-align:top; padding-block:8px;}
.objField>div img.personImg								{max-width:250px; max-height:150px;}
.objField>div img										{max-width:30px; margin-right:8px;}
.objField>div input[type=checkbox]						{margin-right:10px;}
form .objField>div:first-child							{padding-top:15px;}/*aligne les labels avec les inputs (cf vueEditUser & co)*/
form .objField>div *:is(input[type=text],.passwordDiv,input[type=password],textarea)	{width:100%!important;}
/*AFFICHAGE SMARTPHONE*/
@media screen and (max-width:490px){
	.objField, .objField>div							{display:block; width:100%!important;}
	.objField>div										{padding-top:5px;}
}


/*** PERSONS : CONTACTS / USERS*/
.objBlocks .objContent.objPerson			{height:160px; min-height:160px; width:250px; min-width:250px; max-width:450px;}	/*surcharge .objContent*/
.personProfileImg							{text-align:center;}																/*Image du profile*/
.personProfileImg img						{max-width:100%; max-height:200px;}													/*Idem*/
.personVueFields							{margin-top:20px;}
.personImgSmall								{border-radius:50%; height:28px; width:28px;}										/*Image du profile arrondi*/
.objLines .personImg						{max-width:60px; max-height:70px!important;}										/*Image du profile*/
.personLabel								{margin-bottom:5px;}																/*Label principal*/
.personField								{line-height:18px;}																	/*Détails : email, tel, adresse, etc*/
.objLines .personField						{display:inline-block; width:fit-content;}											/*Affichage ligne des détails*/
.objLines .personFieldSeparator				{margin-inline:8px;}
.objBlocks .personFieldSeparator, .personFieldSeparator:last-child	{display:none;}
.spaceAffectLine							{display:table; width:100%; max-width:100%; user-select:none;}/*Affectations Users <=> Espaces*/
.spaceAffectLine>div						{display:table-cell; padding:5px;}
.spaceAffectLine>div:not(:first-child)		{text-align:center; width:140px;}/*colonne des checkboxes (header aussi)*/
.spaceAffectLabel							{cursor:pointer;}/*label*/
/*AFFICHAGE SMARTPHONE*/
@media screen and (max-width:490px){
	.objBlocks .objContent.objPerson		{height:140px; min-height:140px;}
	.spaceAffectLine>div					{font-size:0.8rem; padding:6px 3px;}
	.spaceAffectLine>div:not(:first-child)	{width:100px;}/*colonne des checkbox*/
	.spaceAffectLine>div img				{display:none;}
}


/*** FANCYBOX*/
.fancybox__backdrop								{background:rgba(0,0,0,0.75);}																		/*surcharge l'opacité du background*/
.fancybox__slide:is(.has-iframe,.has-inline) .fancybox__content, .fancybox__iframe	{border-radius:15px; box-shadow:0px 0px 2px white;}			/*Ajoute un border-radius aux Iframes/Inline*/
.fancybox__slide.has-iframe						{padding-top:50px; padding-bottom:30px;}															/*surcharge l'espace top/bottom des Iframe full page*/
.fancybox__slide.has-iframe .fancybox__content	{padding:0px; width:650px;}																			/*surcharge le width par défaut des Iframe : idem lightboxResize()*/
.fancybox__slide.has-inline .fancybox__content	{padding:25px;}																						/*surcharge le padding Inline*/
.f-zoomInUp										{animation:var(--f-transition-duration, 0.1s) ease 0.1s both f-zoomInUp}							/*surcharge la durée d'affichage des lightboxes (fadein)*/
.f-thumbs__slide__button						{box-shadow:none;}																					/*surcharge les vignettes d'images*/
[data-fancybox='images'], .fancyboxImages		{cursor:zoom-in;}																					/*Cursor des images à afficher*/
.lightboxTitle									{margin-bottom:40px; padding-bottom:15px; text-align:center; font-size:1.1rem; line-height:22px;}	/*Titre du lightbox*/
.lightboxTitle:has(.lightboxMenu)				{position:relative; padding-left:70px; padding-right:30px;}											/*padding-left pour .lightboxMenu / padding-right pour .is-close-btn*/
.lightboxMenu									{position:absolute; top:0px; left:0px;}																/*Icones du menu context + d'édition de l'objet*/
.lightboxMenu .editButton						{margin-left:10px;}																					/*Icone d'édition*/
.lightboxTitleDetail							{font-size:0.9rem; margin-top:15px;}																/*libellé détaillé*/
.lightboxAddElem								{text-align:center;}																				/*ex: "Ajouter un  groupe"*/
.lightboxAddElem button							{width:230px; height:50px;}
.lightboxInline									{display:none; width:400px; text-align:center}														/*<form> en page de connexion*/
.lightboxInline input, .lightboxInline button:not([data-fancybox-close])  {height:45px!important; width:80%!important; margin:10px auto!important;}	/*Width des input (sauf "data-fancybox-close")*/
/*AFFICHAGE SMARTPHONE*/
@media screen and (max-width:490px){
	.fancybox__slide:is(.has-iframe,.has-inline) .fancybox__content, .fancybox__iframe	{border-radius:0px; box-shadow:none;}
	.fancybox__slide													{padding:0px!important;}/*surcharge*/
	.fancybox__slide, .fancybox__content								{width:100%!important; height:100%!important; margin:0px!important;}
	.fancybox__iframe													{margin:0px auto;}/*iframe centré*/
	.fancybox__slide:not(.has-image) button[data-fancybox-close]		{width:40px!important; height:40px!important; right:5px!important; background:white url("../../img/close.png"); background-position:center center; background-repeat:no-repeat;}
	.fancybox__slide:not(.has-image) button[data-fancybox-close] svg	{display:none;}/*Masque le "close" par défaut*/
}


/*** JQUERY UI & PLUGINS*/
.tooltipster-box								{margin:10px;}/*marge du bord de page*/
.toast-item										{padding:15px;}
.toast-position-top-center						{top:5px;}/*cf #headerBar height*/
.toast-container a, .toast-container a:hover	{text-decoration:underline!important;}
.jconfirm-box									{border-radius:15px!important; padding-block:40px 30px!important;}
.jconfirm-bg									{opacity:0.5!important;}
.jconfirm-title-c, .jconfirm-content-pane, .jconfirm-buttons	{width:100%!important; margin:0px!important; padding:0px!important; text-align:center!important; font-size:1.2rem!important;}
.jconfirm-title-c								{margin-bottom:15px!important; font-size:1.4rem!important;}
.jconfirm-content-pane .confirmDeleteInfo		{margin-block:15px!important; color:#600!important;}
.jconfirm-buttons								{margin-top:15px!important;}
.jconfirm-buttons button						{margin:10px!important; padding:10px 20px!important;}
.jconfirm-buttons .btn-green					{background:#25a55b!important;}
/*AFFICHAGE SMARTPHONE*/
@media screen and (max-width:490px){
	.jconfirm-title-c, .jconfirm-content-pane, .jconfirm-buttons	{font-size:1.1rem!important;}
	.jconfirm-title-c												{margin-bottom:15px!important; font-size:1.3rem!important;}
	.jconfirm-buttons button										{min-width:70%!important;}
}


/*** DIVERS*/
.infos							{display:block; border:dotted 1px #aaa; margin-block:15px; padding:8px; border-radius:5px; text-align:center; line-height:20px;}
.progressBar					{display:inline-block; padding:5px; background:linear-gradient(white,#ddd);/*cf. Tool::progressBar()*/ border:solid 1px #ccc; border-radius:8px; text-align:center; color:#555; font-size:0.95rem; line-height:18px;}
.progressBar>img				{margin-right:2px;}
.pluginModule					{margin-top:15px;}
.pluginModule img				{float:right; margin-top:-5px; max-height:24px;}
.changeOrder					{width:30px; vertical-align:middle; text-align:right; cursor:move; user-select:none;}/*Change l'ordre d'affichage d'une liste*/
.changeOrderShadow				{opacity:0.5; border:1px dashed #999; height:100px;}/*Block "fantome" durant le changement*/
.cursorHelp						{cursor:help;}
.hide							{display:none;}
.menuTradIcon					{vertical-align:middle;}
.categoryColor					{display:inline-block; width:14px; height:14px; border:solid transparent 1px; border-radius:50%; margin-right:5px; vertical-align:middle;}/*vignette de couleur d'une categorie d'evement / theme du forum / etc*/
.categoryColorAll				{border:solid #aaa 1px;}
.orLabel						{display:table; width:100%; margin:30px 0px;}
.orLabel div					{display:table-cell; width:45%; text-align:center;}
.orLabel div:nth-child(2)		{width:10%; min-width:50px; opacity:0.5; text-transform:uppercase;}/*texte "OU"*/
.orLabel hr						{background:#ddd;}
.pulsate						{animation:pulsateAnimation 1.5s linear infinite;}/*equivalent css du "pulsate" jQuery*/
@keyframes pulsateAnimation		{ 50% {opacity:0.2;} }