/**SKIN BLANC**/

/*Basic*/
body, a, .sLink								{color:#555;}
a:hover, .sLink:hover						{color:#800;}
a:active, .sLinkSelect, input:checked+label	{color:#a00;}

/*Blocks d'objet (ou pas) & menus contextuels*/
.objContainer, .miscContainer, .emptyContainer, .menuContext	{box-shadow:2px 2px 6px rgba(0,0,0,0.7); background:linear-gradient(333deg,#eee,#fff 100px); background-color:#fff; background-repeat:no-repeat;}/*"box-shadow" : tester avec wallpapers full white/black*/
.objContainer:hover							{box-shadow:2px 2px 6px rgba(255,255,255,0.8);}
.objContainerSelect							{background:#ddd!important;}/*plus "important" que le ":hover"*/
.objBlocks .objContainerSelect				{box-shadow:0px 0px 1px 1px rgb(250,0,0)!important;}
.objLines .objContainer						{border-bottom:solid 1px #eee;}
.objLines .objContainer:hover, .objLines .alternateLines:nth-child(odd), .objHover:hover 	{background:#f5f5f5; background-image:none;}/*ligne survolée && ligne en affichage alterné (paire/impaire)*/
.objBlocks .hasThumb .objLabel				{background:rgba(250,250,250,0.9);}
.emptyContainer								{background:rgba(255,255,255,0.7);}
.menuContext .menuLine:hover, .sTableRow:hover, .sTableRowSelect	{background:#eee;}/*survol une ligne du menu / sélectionne une ligne de menu (affectation)*/
@media screen and (max-width:1023px){
	.objContainer, .miscContainer, .emptyContainer	{box-shadow:1px 1px 2px rgba(0,0,0,0.3);}/*hover=touch*/
}

/*Droits d'accès d'utilisateurs*/
.sAccessRead		{color:#008;}
.sAccessWriteLimit	{color:#a40;}
.sAccessWrite		{color:#900;}

/*Divers*/
.lightboxBlock, .lightboxBlockTitle, .objMenuLabel	{border:#bbb solid 1px;}
.objMenuLabel						{background:linear-gradient(180deg,#f5f5f5,#fff);}
.lightboxBlockTitle					{border-bottom:#ddd solid 1px; background:#fafafa;}
.headerBar							{background:linear-gradient(to bottom,#f5f5f5,#fafafa,#eee);}
#respMenuMain						{background:linear-gradient(135deg,#eee,#fff 100px); border-left:solid #ccc 1px;}
#sortableModules .ui-state-default	{background:linear-gradient(#f9f9f9,#fff);} 