/**SKIN BLANC**/

/*Basic*/
body, a, .sLink																					{color:#555;}
input, textarea, select																			{color:#555; background:#fff;}
#htmlLightbox																					{background:#fff;}
a:hover, a:active, .sLink:hover, .sLinkSelect, label:hover, input:checked+label, .sAccessRead	{color:rgb(0, 104, 189);}	/*Liens + labels sélectionnés + accès utilisateur*/
.sAccessWrite, .sAccessWriteLimit																{color:#900;}			/*Accès admin*/

/*Pages principales Responsives (cf. 'VueStructure.php')*/
@media screen and (max-width:1023px){
	#htmlMainPage	{background:#fff url(../img/logoMobileBg.png) no-repeat center 95%; height:100%;}
}

/*Blocks d'objet & menus contextuels*/
.objContainer, .miscContainer, .emptyContainer, .menuContext	{background:#fff;}									/*blocks principaux*/
.lineOdd:nth-child(odd), .selectContainer						{background:#f9f9f9;}								/*blocks principaux survolés & blocks d'objets impaires (cf. forum)*/
.objContainerSelect, #objSelectMenu  							{background:#ddd!important;}						/*objets sélectionnés ("!important" pour surcharger les ":hover")*/
.objLines .objContainer											{border-bottom:solid 1px #ccc; box-shadow:none;}	/*pas de "box-shadow" en affichage "objLines"*/
.menuContext .menuLine:hover, .lineHover:hover, .lineSelect		{background:#eee!important;}						/*lignes survolées ou sélectionnées (cf. droit d'accès d'objets ou affectations d'evts)*/
/*RESPONSIVE*/
@media screen and (max-width:1023px){
	.objContainer, .miscContainer, .emptyContainer	{width:100%; box-shadow:2px 2px 5px rgb(200,200,200);}/*cf. affichage de news et fichiers*/
}

/*Divers*/
#headerBar											{background:linear-gradient(180deg,#fff,#f5f5f5,#fff); box-shadow:2px 2px 8px rgb(80,80,80);}	/*barre de menu principale*/
hr													{background:linear-gradient(90deg,#eee,#ccc,#eee);}		/*barre de séparation*/
div::-webkit-scrollbar								{background:#eee; width:15px;}									/*scrollbar: background et width*/
div::-webkit-scrollbar-thumb						{background:#ccc;}												/*scrollbar: couleur de la barre*/
.lightboxBlock, .lightboxBlockTitle, .objMenuLabel	{border:#bbb solid 1px;}										/*blocks des lightboxes et onglets du menu d'édition d'objets*/
.objMenuLabel										{background:linear-gradient(180deg,#f5f5f5,#fff);}
.lightboxBlockTitle									{border-bottom:#ddd solid 1px; background:#fafafa;}
