/*** BASIC*/
body, a, .link																				{color:#ddd;}
#htmlLightbox, .objContent, .miscContent, .menuContext, #menuMobileMain						{background:#222;}
#headerBar																					{background:linear-gradient(to bottom,black,#222);}/*barre principale*/
.objLines .objContent																		{border-bottom:solid 1px #555;}
.menuContext, .tox-tinymce																	{border:solid 1px #696969!important;}
.objLines .objContent:hover, .menuContext .menuLine:hover, .lineHover:hover, .lineSelect	{background:#333;}
.objContentSelected, #objSelectMenu															{background:#444!important;}
.tippy-box																					{background:#222!important; color:#eee!important; box-shadow:0px 0px 8px #888!important;}
/*** RESPONSIVE TABLET-SMARTPHONE*/
@media screen and (max-width:1199px){
	#htmlMainPage				{background:#222 url(../../img/logoMobileBg.png) no-repeat center 95%; height:100%;}
	#headerBar					{border-top:solid 1px #ddd;}/*séparation de la "appBar" du main.dart*/
	.objContent, .miscContent	{box-shadow:0px 1px 4px #555;}
}

/*** LIENS & OPTIONS*/
a:hover, .link:hover, .linkSelect, .menuContextLaunch:hover, [onclick]:hover, button:hover, label:hover, input:checked+label, .optionSelect	{color:#679cd8;}
.accessRead						{color:#9ccaff;}
.accessWrite					{color:rgb(248, 168, 168);}
.option							{border:solid 1px transparent;}
.optionSelect, .option:hover 	{border:solid 1px #555; border-radius:var(--radius-field);}
.optionSelect					{background:#444; font-weight:bold;}

/*** INPUTS*/
input:not([type=radio],[type=checkbox]), textarea, select, button	{background:#333; border:1px solid #555; transition:box-shadow 0.3s ease-in-out; color:#eee;}
input:hover, textarea:hover, select:hover							{box-shadow:0px 0px 5px #444;}
input:focus, textarea:focus, select:focus							{box-shadow:0px 0px 5px #0068bd; border:#bcf 1px solid;}
button																{background:linear-gradient(#444,#333);}
button:hover:not(.f-button)											{background:linear-gradient(#444,#3a3a3a);}

/*** DIVERS*/
.objMenuTab, .objMenuMain, fieldset		{background:#333; border:solid 1px #555; border-radius:var(--radius-block);}/*VueObjMenuEdit + fieldset*/
.objMenuTab								{background:transparent;}/*VueObjMenuEdit : onglet non sélectionnés*/
.objMenuTab:hover, .objMenuTabSelect	{background:#333;}/*VueObjMenuEdit : onglet sélectionnés/survolé*/
.objMenuTab:not(.objMenuTabSelect)		{border-color:#444 #444 #555 #444;}
hr										{background:linear-gradient(90deg,#555,#777,#555);}
.lightboxTitle							{border-bottom:solid 1px #888;}/*peudo <hr>*/
.jconfirm-box							{background:#222!important; box-shadow:0px 2px 6px #555!important;}
::-webkit-scrollbar						{background:#333;}/*chemin de scrollbar*/
::-webkit-scrollbar-thumb				{background:#888;}/*couleur de scrollbar*/