/*Basic*/
body, a, .sLink						{color:#ccc;}
#htmlLightbox						{background:#222;}
input, textarea, select				{background:#333; color:#ccc; border:1px solid #555!important;}
button								{background:linear-gradient(#333,#222); color:#ccc;}
button:hover						{background:linear-gradient(#222,#333);}
button:disabled, button[disabled]	{background:#555;}

/*Liens principaux / label+checkbox / accès utilisateur  &  Option sélectionnée*/
a:hover, [onclick]:hover, .sLink:hover, .linkSelect, .menuLauncher:hover, button:hover, label:hover, input:checked+label, .sAccessRead	{color:rgb(173,211,255);}
.option							{border:solid 1px transparent;}
.option:hover, .optionSelect	{color:rgb(173,211,255); background:#333; border:solid 1px #555; border-radius:5px;}

/*Blocks d'objet & menus contextuels*/
.sAccessWrite, .sAccessWriteLimit																	{color:#f88;}						/*Droit d'accès "Write" & "Write limit"*/
.objContainer, .miscContainer, .menuContext															{background:#222;}					/*blocks principaux*/
.objContainerSelect, #objSelectMenu, .lineSelect, .menuContext .menuLine:hover, .lineHover:hover	{background:#444!important;}		/*objets sélectionnés & lignes survolées (cf. droit d'accès & CO)*/
.objLines .objContainer																				{border-bottom:solid 1px #555;}	/*pas de "box-shadow" en affichage "objLines"*/

/*MOBILE*/
#menuMobileMain															{background:#333; border:solid 1px #444;}
#menuMobileMain .vHeaderModuleCurrent, #menuMobileMain .miscContainer	{background:#eee!important; border:solid 1px #ddd; box-shadow:0px 2px 6px #555;}
@media screen and (max-width:1024px){
	#htmlMainPage					{background:#333 url(../img/logoMobileBg.png) no-repeat center 95%; height:100%;}
	.objContainer, .miscContainer	{box-shadow:0px 2px 6px #555;}
}

/*Divers*/
#headerBar								{background:linear-gradient(180deg,#111,#222,#111); box-shadow:0px 2px 8px rgb(80,80,80);}/*barre de menu principale*/
hr										{background:linear-gradient(90deg,#555,#999,#555);}				/*barre de séparation*/
fieldset, .objMenuTab, .objMenuOptions	{background:#333; border:1px solid #444; border-radius:5px;}		/*fieldset & "VueObjMenuEdit.php"*/
.fieldsetSub							{background:#444; border:1px solid #414141; border-radius:5px;}	/*"VueObjMenuEdit.php"*/
.objMenuTab:hover, .objMenuTabSelect	{background:linear-gradient(0deg,#333,#222);}						/*"VueObjMenuEdit.php"*/
::-webkit-scrollbar						{background:#333; width:12px;}										/*scrollbar: background et width*/
::-webkit-scrollbar-thumb				{background:#888;}													/*scrollbar: couleur de la barre*/
.jconfirm-box							{border:solid 1px #555!important; background:#333!important; }