/*Basic*/
body, a, .sLink						{color:#555;}
#htmlLightbox						{background:white;}
input, textarea, select				{color:#555;}
button								{background:linear-gradient(#fff,#eee); color:#555;}
button:hover						{background:linear-gradient(#eee,#fff);}
button:disabled, button[disabled]	{background:#ccc;}

/*Liens / label+checkbox / Options  / Droit d'accès / etc*/
a:hover, [onclick]:hover, .sLink:hover, .linkSelect, .menuLauncher:hover, button:hover, label:hover, input:checked+label, .sAccessRead	{color:#0068bd;}
.sAccessWrite, .sAccessWriteLimit	{color:#900;}
.option								{border:solid 1px transparent;}
.option:hover, .optionSelect		{background:#e8e8ff; color:#0068bd; border:solid 1px #ccc; border-radius:5px;}
.optionSelectAll					{background:#f9f9f9!important;}

/*Blocks principaux / Menu context / Inputs / etc*/
.objContainer, .miscContainer, .menuContext																							{background:white;}
.objContainerSelect, #objSelectMenu, .lineSelect, .menuContext .menuLine:hover, .lineHover:hover, .objLines .objContainer:hover		{background:#eee;}
.objContainer, .miscContainer, .menuContext, .tox-tinymce			{box-shadow:2px 2px 10px #333; transition:box-shadow 0.3s ease-in-out;}
.objContainer:hover													{box-shadow:2px 2px 10px #ccc;}
.objLines .objContainer												{border-bottom:solid 1px #ccc;}
input:not([type=radio],[type=checkbox]), textarea, select, button	{box-shadow:0px 0px 4px #bbb; transition:box-shadow 0.3s ease-in-out; border:#bbb 1px solid;}
input:not([type=radio],[type=checkbox]):hover, textarea:hover		{box-shadow:0px 0px 4px #555;}
input:not([type=radio],[type=checkbox]):focus, textarea:focus		{box-shadow:0px 0px 4px #0068bd; border:#bbf 1px solid;}

/*MOBILE*/
#menuMobileMain															{background:white; border:solid 1px #ddd;}
#menuMobileMain .vHeaderModuleCurrent, #menuMobileMain .miscContainer	{background:#eee!important; border:solid 1px #eee; box-shadow:0px 2px 6px #888;}
@media screen and (max-width:1024px){
	#htmlMainPage					{background:white url(../img/logoMobileBg.png) no-repeat center 95%; height:100%;}
	.objContainer, .miscContainer	{box-shadow:0px 2px 6px #888;}
}

/*Divers*/
#headerBar								{background:linear-gradient(180deg,#f1f1f1,white,#f1f1f1); box-shadow:0px 2px 8px #505050;}/*barre de menu principale*/
hr										{background:linear-gradient(90deg,#eee,#ccc,#eee);}				/*barre de séparation*/
fieldset, .objMenuTab, .objMenuOptions	{background:#fafafa; border:1px solid #bbb; border-radius:5px;}	/*fieldset & onglet "VueObjMenuEdit.php"*/
.fieldsetSub							{background:#ececec; border:1px solid #ccc; border-radius:5px;}	/*ex: "VueObjMenuEdit.php"*/
.objMenuTab:hover, .objMenuTabSelect	{background:linear-gradient(0deg,#fafafa,white,white);}			/*"VueObjMenuEdit.php"*/
::-webkit-scrollbar						{background:#eee; width:12px;}										/*scrollbar: background et width*/
::-webkit-scrollbar-thumb				{background:#bbb;}													/*scrollbar: couleur de la barre*/
.jconfirm-box							{box-shadow:0px 2px 6px #555!important;}