####	CONTROLE DU CACHE
<IfModule mod_expires.c>
<IfModule mod_headers.c>
    ExpiresActive On
    ExpiresByType application/javascript    "access plus 2 days"
    ExpiresByType text/javascript           "access plus 2 days"
    ExpiresByType image/*                   "access plus 2 days"

    <FilesMatch "\.(?:jpe?g|png|gif|webp|svg|ico)$">
        Header set Cache-Control "public, max-age=172800, immutable"
    </FilesMatch>
</IfModule>
</IfModule>
