/*Basic*/
body, a, .sLink						{color:#555;}
#htmlLightbox						{background:white;}
input, textarea, select				{color:#555;}
button								{background:linear-gradient(#fff,#eee); color:#555;}
button:hover						{background:linear-gradient(#eee,#fff);}
button:disabled, button[disabled]	{background:#ccc;}

/*Liens principaux / label+checkbox / accès utilisateur  &  Option sélectionnée*/
a:hover, [onclick]:hover, .sLink:hover, .linkSelect, .menuLaunch:hover, button:hover, label:hover, input:checked+label, .sAccessRead	{color:rgb(0,104,189);}
.option							{border:solid 1px transparent;}
.option:hover, .optionSelect	{color:rgb(0,104,189); background:#eeefff; border:solid 1px #ddd; border-radius:5px;}

/*Blocks d'objet & menus contextuels*/
.sAccessWrite, .sAccessWriteLimit																	{color:#900;}						/*Droit d'accès "Write" & "Write limit"*/
.objContainer, .miscContainer, .emptyContainer, .menuContext										{background:white;}				/*blocks principaux*/
.objContainerSelect, #objSelectMenu, .lineSelect, .menuContext .menuLine:hover, .lineHover:hover	{background: #eee!important;}		/*objets sélectionnés & lignes survolées (cf. droit d'accès & CO)*/
.objLines .objContainer																				{border-bottom:solid 1px #ccc;}	/*pas de "box-shadow" en affichage "objLines"*/

/*MOBILE*/
#menuMobileMain															{background:white; border:solid 1px #ddd;}
#menuMobileMain .vHeaderModuleCurrent, #menuMobileMain .miscContainer	{background:#eee!important; border:solid 1px #eee; box-shadow:0px 2px 6px #888;}
@media screen and (max-width:1024px){
	#htmlMainPage	{background:white url(../img/logoMobileBg.png) no-repeat center 95%; height:100%;}
	.objContainer, .miscContainer, .emptyContainer	{box-shadow:0px 2px 6px #888;}
}

/*Divers*/
#headerBar								{background:linear-gradient(180deg,#f1f1f1,white,#f1f1f1); box-shadow:0px 2px 8px rgb(80,80,80);}/*barre de menu principale*/
hr										{background:linear-gradient(90deg,#eee,#ccc,#eee);}				/*barre de séparation*/
fieldset, .objMenuTab, .objMenuOptions	{background:#fafafa; border:1px solid #bbb; border-radius:5px;}	/*fieldset & onglet "VueObjMenuEdit.php"*/
.fieldsetSub							{background:#ececec; border:1px solid #ccc; border-radius:5px;}	/*ex: "VueObjMenuEdit.php"*/
.objMenuTab:hover, .objMenuTabSelect	{background:linear-gradient(0deg,#fafafa,white,white);}			/*"VueObjMenuEdit.php"*/
::-webkit-scrollbar						{background:#eee; width:12px;}										/*scrollbar: background et width*/
::-webkit-scrollbar-thumb				{background:#bbb;}													/*scrollbar: couleur de la barre*/
.jconfirm-box							{box-shadow:0px 2px 6px #555!important;}