
/*** STYLE CHARGÉ DANS L'ÉDITEUR TINYMCE : IDEM "app.css" !*/
.mce-content-body			{padding:10px; font-size:13px!important; font-size:13px; font-family:Arial,Helvetica,sans-serif; font-weight:normal;}/*Texte de l'éditeur*/
.mce-content-body::before	{color:#aaa!important; padding-left:7px; }/*Placeholder "Description"*/
p							{margin:3px;}
.attachedFileTag			{max-width:100%;}						/*Image/vidéo/Mp3 inséré dans l'éditeur : idem "editor.css"*/
video.attachedFileTag		{min-width:600px; min-height:400px;}	/*vidéo*/
audio.attachedFileTag		{min-height:100px;}						/*Mp3*/

/*RESPONSIVE SMARTPHONE*/
@media screen and (max-width:490px){
	.mce-content-body	{font-size:17px!important;}
}